<mat-sidenav-container class="main-container"  [class.myapp-dark-theme]="darkTheme">
  <mat-sidenav  #sidenav mode="over"  >
     <app-silderbar>

     </app-silderbar>
  </mat-sidenav>
  <mat-sidenav-content class="site">
      <header>
        <app-header (toggle)="sidenav.toggle()"
                    (toogleDarkTheme)="switchThems($event)" ></app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

