<form>
  <mat-card  class="login-card">
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <input matInput  type="text" placeholder="您的email" value="">
          </mat-form-field>
          <mat-form-field class="full-width">
              <input matInput type="passwword" placeholder="您的密码" value="">
            </mat-form-field>
            <button mat-raised-button  type="button">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
    <p>还没有账户? <a href="">注册</a></p>
    <p>忘记密码? <a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card  class="login-card">
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>天生我才必有用</mat-card-subtitle>
    </mat-card-header>
     <img src="/assets/timg.jpg" mat-card-image alt="">
    <mat-card-content>
      All things in their being are good for something.
    </mat-card-content>
  </mat-card>
</form>

  